<!DOCTYPE html>
<html>
<head>
	<title>Formulario de usuario</title>
	<!-- Agregar los enlaces de Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
		/* Agregar estilo para centrar y agregar fondo verde claro */
		body {
			background-color: #c8e6c9;
		}
		.container {
			margin-top: 50px;
			background-color: #fff;
			padding: 30px;
			border-radius: 10px;
		}
	</style>
</head>
<body>

<div class="container" style="width: 600px;">
	<h2>Perfil de WhatSapo</h2>
	<form>
		<div class="form-group">
            <label for="nombre_usuario">Nombre de usuario:</label>
            <input type="text" class="form-control" id="nombre_usuario" placeholder="Ingresa tu nombre de usuario" style="width: 300px;">
          </div>
          
		<div class="form-group">
			<label for="imagen_usuario">Imagen de usuario:</label>
			<input type="file" class="form-control-file" id="imagen_usuario">
		</div>
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>
</div>

</body>
</html>
